<html>
  <head>
    <title>Potin</title>
  </head>
  <body>
    <h1>Potin !</h1>
    <p>Voici un potin...</p>
        <p>ID: <%= id %></p>
        <p>
          Auteur-> <%= gossips.author %><br/>
          Largeur-> <%= gossips.content %>
        </p>
  </body>
</html>